body {
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: none;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
header h1 a.webarchive img {
  vertical-align: bottom;
}
