<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>{{p.title}}</title>
    <link rel="stylesheet" href="/main.css"/>
	</head>
	<body>
		<header>
			<h1><a href="{{p.url}}">{{p.title}}</a></h1>
		</header>
		{% if p.content %}
		<article>
			{{p.content|safe}}
		</article>
		{% endif %}
		{% if p.nav %}
		<nav>
			<ul>
				{% for n in p.nav %}
				<li>
					<code>{{n.date}}</code> <a href="{{n.url}}">{{n.title}}</a>
					{% if n.description %}
						<small>{{n.description}}</small>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% endif %}
		<footer>
		</footer>
  </body>
</html>
